<div class="container mt-2" style="width: 80%;">
  <video class="video-fluid z-depth-1" controls   muted preload poster="assets/img/postervideo.png" controlsList="nodownload" oncontextmenu="return false;" >
    <source src="assets/video/video-home.mp4" type="video/mp4" >
  </video>
</div>

<!------ Seção de cadastro ---------->
<div class="card text-center SectionCadatrar">
  <div class="card-body">
    <h1>MySquare</h1>
    <h2>Entre nessa praça !</h2>
    <button class="btn btn-green" routerLink="/cadastrar" routerLinkActive="router-link-active">Cadastre-se</button>
  </div>
</div>

<!-- secao de cliente-->
<div class="row justify-content-center SectionCliente">
  <div class="row">
    <h2 class="mt-4">Você que é Cliente</h2>
  </div>


  <div class="card-deck justify-content-center mx-0 col-12">

    <div class="card col-xs-6 col-sm-12 col-md-3 card-flip">
      <div class="flip text-center">
        <div class="front">
          <div class="mt-0">
            <img class="card-img-top" src="assets/img/cards/tempo.png" alt="Card image cap">
            <h4 class="card-title text-success mt-1">Tempo</h4>
            <div class="card-body pt-0">
              <p class="card-text">Não perca mais tempo procurando fornecedores.</p>
            </div>
          </div>
        </div>
        <div class="back">
          <div class="pt-2">
            <h4 class="card-title text-success mt-1">Tempo</h4>
            <div class="card-body">
              <p class="card-text">Agora você não perde mais tempo procurando por produtos ou serviços.</p>
              <p class="card-text">Na MySquare você encontra uma infinidade de fornecedores, produtos e serviço.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-xs-6 col-sm-12 col-md-3 card-flip">
      <div class="flip  text-center">
        <div class="front">
          <div class="pt-0">
            <img class="card-img-top" src="assets/img/cards/fornecedores.png" alt="Card image cap">
            <h4 class="card-title text-success mt-2">Melhores Ofertas</h4>
            <div class="card-body pt-0">
              <p class="card-text">Faça os fornecedores irem até você.</p>
            </div>
          </div>
        </div>
        <div class="back">
          <div class="pt-5">
            <h4 class="card-title text-success mt-4">Melhores Ofertas</h4>
            <div class="card-body">
              <p class="card-text">O nosso objetivo é levar até você as melhores ofertas para as suas necessidades.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card col-xs-6 col-sm-12 col-md-3 card-flip">
      <div class="flip  text-center">
        <div class="front">
          <div class="mt-1">
            <img class="card-img-top" src="assets/img/cards/custo-beneficio.png" alt="Card image cap">
            <h4 class="card-title text-success mt-4">Custo Benefício</h4>
            <div class="card-body pt-0">
              <p class="card-text">Tenha a liberdade para escolher a melhor oferta de acordo com o seu critério.</p>
            </div>
          </div>
        </div>
        <div class="back">
          <div class="pt-2">
            <h4 class="card-title text-success mt-4">Custo Beneficio</h4>
            <div class="card-body">
              <p class="card-text">Na MySquare você terá a sua disposição uma gama de orçamentos.</p>
              <p class="card-text">Isso lhe proporcionará maior assertividade nas sua aquisições.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- secao de fornecedores-->
<div class="row justify-content-center SectionCliente">
  <div class="row">
    <h2 class="mt-4">Você que é Fornecedor</h2>
  </div>

  <div class="card-deck justify-content-center mx-0 col-12">

    <div class="card col-xs-6 col-sm-12 col-md-3 card-flip">
      <div class="flip text-center">
        <div class="front">
          <div class="mt-1">
            <img class="card-img-top" src="assets/img/cards/mais_clientes.png" alt="Card image cap">
            <h4 class="card-title text-success mt-4">Mais Clientes</h4>
            <div class="card-body pt-0">
              <p class="card-text">Amplie a sua carteira de clientes.</p>
            </div>
          </div>
        </div>
        <div class="back">
          <div class="pt-4">
            <h4 class="card-title text-success mt-4">Mais Clientes</h4>
            <div class="card-body">
              <p class="card-text">A nossa meta é levar o cliente até você.</p>
              <p class="card-text">Na MySquare estão os cliente certos para o seu tipo de negócio.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-xs-6 col-sm-12 col-md-3 card-flip">
      <div class="flip  text-center">
        <div class="front">
          <div class="pt-2">
            <img class="card-img-top" src="assets/img/cards/veja_o_que_os_cliente_querem.png" alt="Card image cap">
            <h4 class="card-title text-success mt-4">Oportunidades</h4>
            <div class="card-body pt-0">
              <p class="card-text">Veja aqui o que os clientes estão precisando.</p>
            </div>
          </div>
        </div>
        <div class="back">
          <div class="pt-5">
            <h4 class="card-title text-success mt-4">Oportunidades</h4>
            <div class="card-body">
              <p class="card-text">A MySquare vem reunindo em um só lugar diversas oportunidades que certamente a sua
                empresa precisa.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-xs-6 col-sm-12 col-md-3 card-flip">
      <div class="flip  text-center">
        <div class="front">
          <div class="mt-0">
            <img class="card-img-top" src="assets/img/cards/conectividade.png" alt="Card image cap">
            <h4 class="card-title text-success mt-1">Conectividade</h4>
            <div class="card-body pt-0">
              <p class="card-text">Esteja sempre conectado aos seus clientes.</p>
            </div>
          </div>
        </div>
        <div class="back">
          <div class="pt-5">
            <h4 class="card-title text-success mt-1">Conectividade</h4>
            <div class="card-body">
              <p class="card-text">A MySquare virtualizou um mercado de oportunidade para você.</p>
              <p class="card-text">Aproveite para usufruir dos melhores negócios dessa praça virtual.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Contatos</h5>
        <ul class="list-unstyled quick-links">
          <li><a><i></i>Alex Xavier</a></li>
          <li><a><i></i>(92) 99153-1181</a></li>
          <li><a><i></i>E-mai: alex.xavier@mysquare.com.br</a></li>
          <li><a><i></i></a></li>
          <li><a><i></i>José Antônio</a></li>
          <li><a><i></i>(92) 9110-4856</a></li>
          <li><a><i></i>E-amail: junior@mysquare.com.br</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Endereço</h5>
        <ul class="list-unstyled quick-links">
          <li><a><i></i>Av. João Valério</a></li>
          <li><a><i></i>Bairro: São Geraldo</a></li>
          <li><a><i></i>Manaus - AM</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Solicitar contato</h5>
        <form [formGroup]="formContato">
          <div class="form-group quick-links">
            <a><label for="exampleInputEmail1">Endereço de email</label></a>
            <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email"
              aria-describedby="emailHelp" placeholder="Seu email">
          </div>
          <div class="form-group">
            <a><label for="exampleInputPassword1">Telefone/Celular</label></a>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="tel"
              mask="(00) 00000-0000||(00) 0000-0000" placeholder="(DDD) 00000-0000">
          </div>
          <div class="form-group">
            <a><label for="exampleInputPassword1">Mensagem</label></a>
            <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="mensagem"
              rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-success" (click)="solicitar()">Solicitar</button>
        </form>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p class="h6">©Copyright Instituto Xavier. {{appversao}}</p>
      </div>
      <hr>
    </div>
  </div>
</section>
<!-- ./Footer -->

<!-- Spinner de load-->
<div class="spinner" *ngIf="showSpinner"></div>
