.chip {
    display: inline-block;
}
.chip .label {
    position: relative;
    background-color: #efefef;
    color: #686868;
    padding: 6.5px 25px 6.5px 13px;
    height: 25px;
    text-transform: none;
    line-height: 12px;
    margin-bottom: 0px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 12.5px;
    -moz-border-radius: 12.5px;
    border-radius: 12.5px;
}
.chip .label .chip-icon {
    position: absolute;
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: #d5d5d5;
    line-height: 17px;
    color: #686868;
    font-size: 13px;
    top: 4px;
    right: 4px;
    -webkit-border-radius: 8.5px;
    -moz-border-radius: 8.5px;
    border-radius: 8.5px;
}
.chip .label .chip-icon:hover {
    background-color: #fb535b;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
}
.wk2-icon-close:before {
    content: "\f153";
}

.select2-search__field {
    font-size: 13px;
    color: #686868;
    width: 100% !important;
    margin: 3px 5px 3px;
    font-size: 16px;
    background: 0 0;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield;
    box-sizing: border-box;
    padding: 0;
}
.box-filter {
    border: 1px solid #d5d5d5;
    min-height: 50px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 1.4;
    padding: 4px;
}

/* classificados*/

.project-item {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

.project-header {
    font-size: 24px;
    margin-bottom: 5px;
}
.title_blue {
    color: #253579;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 18px;
}
.text_blue {
    color: #253579;
    margin-top: 5px;
}
.project-body {
    font-family: "Open Sans", sans-serif;
}
.project-field {
    margin-right: 6px;
}
.project-field strong {
    margin-right: 3px;
}
.project-details {
    margin-top: 5px;
}

.project-buttom {
    top: 20px;
    right: 30px;
    padding: 0;
}

.delete-row {
    color: #ff0000;
}

.delete-row:hover {
    color: #b22222;
}
.glyphicon {
    font-size: 20px;
}

/*     cliente        */
.bg-midnight-bloom {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%) !important;
}

.bg-premium-dark {
    background-image: linear-gradient(to right, #777777 0%, #5d5656 100%) !important;
}
.bg-vicious-stance {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%) !important;
}
.bg-grow-early {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%) !important;
}
.bg-red {
    background-image: linear-gradient(to right, #db1111 0%, #a60c0c 100%) !important;
}

.hist-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
}

.hist-content .hist-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}
.hist-content .hist-content-left .hist-heading {
    opacity: 0.8;
    font-weight: bold;
}
.hist-content .hist-content-left .hist-subheading {
    opacity: 0.5;
}
.hist-content .hist-content-right {
    margin-left: auto;
}
.hist-content .hist-numbers {
    font-weight: bold;
    font-size: 1.8rem;
    display: block;
}
.modal {
    overflow-y: auto;
    background-color: #6969697d;
}

@media screen and (max-width: 600px) {
    .table {
        font-size: 7px;
    }
    table tbody tr td{
        font-size: 7px;
    }
}
@media screen and (max-width: 400) {
    .table {
        display: none;
    }
}

/* inputforms*/
.labelInBorder {
    position: absolute;
    top: -10px;
    left: 12px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    color: #253579;
}

.form-row {
    margin-top: 5px;
}



.chip {
  display: inline-block
}

.chip .label {
  position: relative;
  background-color: #efefef;
  color:white;
  padding: 6.5px 25px 6.5px 13px;
  height: 25px;
  font-weight: bold;
  line-height: 12px;
  margin-bottom: 2px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 12.5px;
  -moz-border-radius: 12.5px;
  border-radius: 12.5px
}

.chip .label .chip-icon {
  position: absolute;
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: #d5d5d5;
  line-height: 17px;
  color: #525252;
  font-size: 13px;
  top: 4px;
  right: 4px;
  -webkit-border-radius: 8.5px;
  -moz-border-radius: 8.5px;
  border-radius: 8.5px
}

.chip .label .chip-icon:hover {
  background-color: #fb535b;
  color: #fff;
  transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out
}

.wk2-icon-close:before {
  content: "\f153"
}

.select2-search__field {
  font-size: 13px;
  color: #686868;
  width: 100%!important;
  margin: 3px 5px 3px;
  font-size: 16px;
  background: 0 0;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
  box-sizing: border-box;
  padding: 0;
}

.box-filter {
  border: 1px solid #d5d5d5;
  min-height: 50px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 1.4;
  padding: 4px;
}

.msg-sem-orca {
  color: #7a6f6f;
  min-height: 50px;
  font-size: 30px !important;
  line-height: 1.4;
  padding: 15px !important;
  margin-bottom: 0;
  line-height: 1.5;
}

/* fim */



/* Table Base */

.esconder{
  display: none;
}

table {
  font-family: arial;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  font-weight: normal;
  padding: 8px 15px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}
.table thead th {
  background: #eeeeee;
  vertical-align: bottom;
}
.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
  background-color: #fafafa;
}
.table .t-small {
  width: 5%;
}
.table .t-medium {
  width: 15%;
}
.table .t-status {
  font-weight: bold;
}
.table .t-active {
  color: #46a546;
}
.table .t-inactive {
  color: #e00300;
}
.table .t-draft {
  color: #f89406;
}
.table .t-scheduled {
  color: #049cdb;
}
.caixa-descricao{

  margin-bottom: 10px;
  height: 4rem;
  overflow: hidden;

}

/* Small Sizes */
@media (max-width: 780px) {
  .esconder{
    display: inline;
  }
  .table-action thead {
    display: none;
  }
  .table-action tr {
    border-bottom: 1px solid #dddddd;
    font-size: 15px !important;
  }
  .table-action td {
    border: 0;
    font-size: 15px !important;
  }
  .table-action td:not(:first-child) {
    display: block;
  }
}
